/* CSS VARIABLES */
:root {
    --grey: #4c4c4c;
	--mint: #43cea2;
	--ocean: #53e3a6;
	--waterfall: #37ada3;
	--cerulean: #009ae1;
	--navy: #02345D;
	--night: #0b1b28;
	--dark: #333;
	--light: #f5f7f9;
}
/* --- UNIVERSAL --- */
body {
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: var(--grey);
}
::placeholder, ::-webkit-input-placeholder, ::-moz-placeholder {
	/* WebKit browsers */
	font-family: 'Source Sans Pro',sans-serif;
	color: white;
	font-weight: 300;
}
::selection {
	background: var(--mint);
	color: #fff;
}
::-moz-selection {
	background: var(--mint);
	color: #fff;
}
/* --- NAVIGATION --- */
.navbar {
	background: var(--night);
	border: none;
	z-index: 2;
	padding: 0 25px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-header {
	margin-right: 0!important;
}
.navbar-toggle .icon-bar {
	background: var(--waterfall);
}
.navbar-brand {
	padding: 17px 15px;
}
.navbar-nav>li>a {
	letter-spacing: 0.5px;
	font-size: 16px;
	-webkit-transition:all .3s cubic-bezier(0.645,0.045,0.355,1.000);
	transition:all .3s cubic-bezier(0.645,0.045,0.355,1.000);
	color: var(--mint);
	text-transform: uppercase;
	font-weight: 600;
	padding: 20px 25px 22px 25px;
}
.nav>li>a:hover,.nav>li>a:focus {
	background: transparent;
}
.button {
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	-webkit-transition: .5s;
	transition: .5s;
}
.button:after {
	position: absolute;
	-webkit-transition: .5s;
	transition: .5s;
	content: '';
	width: 0;
	left: -10%;
	bottom: 0;
	height: 120%;
	background: var(--light);
	-webkit-transform: skewX(15deg);
	transform: skewX(15deg);
	z-index: -1;
}
.button:hover:after,.open .button:focus:after {
	left: -10%;
	width: 100%;
}
.nav>li.open>a {
	background: none;
	color: #fff;
}
.nav .open>a,.nav .open>a:focus,.nav .open>a:hover {
	background: transparent;
}
.nav .open>a:after,.nav .open>a:focus:after,.nav .open>a:hover:after {
	background: var(--cerulean);
}
.navbar-nav>li>.dropdown-menu {
	border: none;
	border-radius: 0;
}
.dropdown-menu>li>a {
	font-size: 14px;
	padding: 6px 20px;
	color: #636467;
	font-weight: 300;
}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
	color: #fff;
	background-color: var(--mint);
}
.dropdown-header {
	font-weight: 700;
}
.navbar-nav>li>a.facebook {
	color: #3b5998;
}
.navbar-nav>li>a.twitter {
	color: #55acee;
}
.navbar-nav>li>a.deviantart {
	color: #05cc47;
}
.navbar-nav>li>a.pinterest {
	color: #cc2127;
}
.navbar-nav>li>a.linkedin {
	color: #0976b4;
}
.navbar-nav>li>a.icon {
	padding: 15px 5px;
}
.navbar-nav>li>a.icon:hover {
	color: var(--mint);
}
/* --- HEADER --- */
.wrapper {
	background: var(--mint);
	background: -webkit-linear-gradient(180deg,#43cea2 10%,#185a9d 90%);
	background: linear-gradient(180deg,#43cea2 10%,#185a9d 90%);
	top: 60px;
	left: 0;
	width: 100%;
	height: 700px;
	overflow: hidden;
	position: relative;
}
.wrapper-banner {
	background: url('../images/header.jpg') 0 0 no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
}
.wrapper-container {
	margin: 0 auto;
	/* Remove this line if you would like the message aligned to the left or right */
	text-align: center;
	height: 100%;
	width: 100%;
	position: absolute;
	font-family: 'Source Sans Pro',sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* WELCOME MESSAGE ANIMATION */
.wrapper-container .intro {
	font-size: 40px;
	font-weight: 200;
	position: relative;
	top: 60%;
	transition-duration: ease-in-out 1s;
	opacity: 0;
	color: #fff;
}
.wrapper.success .wrapper-container .intro {
	opacity: 1;
	-webkit-transform: translateY(-100px);
	transform: translateY(-100px);
	-webkit-animation: fadein 2s;
	animation: fadein 2s;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Firefox < 16 */
@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Safari,Chrome and Opera>12.1 */
@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Internet Explorer */
@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Opera < 12.1 */
@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* ANIMATED PIXELS */
.bg-bubbles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	margin: 0;
}
.bg-bubbles li {
	position: absolute;
	list-style: none;
	display: block;
	width: 30px;
	height: 30px;
	background-color: rgba(255,255,255,0.15);
	bottom: -100px;
	-webkit-animation: square 12s infinite;
	animation: square 12s infinite;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
	left: 10%;
}
.bg-bubbles li:nth-child(2) {
	left: 22%;
	width: 20px;
	height: 20px;
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
	-webkit-animation-duration: 20s;
	animation-duration: 20s;
}
.bg-bubbles li:nth-child(3) {
	left: 50%;
	-webkit-animation-delay: 4.5s;
	animation-delay: 4.5s;
}
.bg-bubbles li:nth-child(4) {
	left: 40%;
	width: 15px;
	height: 15px;
	-webkit-animation-duration: 22s;
	animation-duration: 22s;
	background-color: rgba(255,255,255,0.25);
}
.bg-bubbles li:nth-child(5) {
	left: 60%;
}
.bg-bubbles li:nth-child(6) {
	left: 80%;
	width: 30px;
	height: 30px;
	-webkit-animation-delay: 5.5s;
	animation-delay: 5.5s;
	background-color: rgba(255,255,255,0.2);
}
.bg-bubbles li:nth-child(7) {
	left: 75%;
	width: 25px;
	height: 25px;
	-webkit-animation-delay: 7.4s;
	animation-delay: 7.4s;
}
.bg-bubbles li:nth-child(8) {
	left: 8%;
	width: 20px;
	height: 20px;
	-webkit-animation-delay: 15s;
	animation-delay: 15s;
	-webkit-animation-duration: 40s;
	animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
	left: 25%;
	width: 10px;
	height: 10px;
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
	-webkit-animation-duration: 35s;
	animation-duration: 35s;
	background-color: rgba(255,255,255,0.3);
}
.bg-bubbles li:nth-child(10) {
	left: 68%;
	width: 25px;
	height: 25px;
	-webkit-animation-delay: 9s;
	animation-delay: 9s;
}
.bg-bubbles li:nth-child(11) {
	left: 90%;
	width: 20px;
	height: 20px;
	-webkit-animation-delay: 10s;
	animation-delay: 10s;
}
@-webkit-keyframes square {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-700px) rotate(600deg);
		transform: translateY(-700px) rotate(600deg);
	}
}
@keyframes square {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-700px) rotate(600deg);
		transform: translateY(-700px) rotate(600deg);
	}
}
.wrapper-container .h1 {
	font-size: 35px;
}
.wrapper-container .h2 {
	font-size: 24px;
	letter-spacing: 0;
}
/* CONTENT AREA */
#content {
	margin-top: 60px;
	/* Height of navigation bar */
}
#content.page-content {
	padding: 35px 0 50px;
}
#content.page-content h1,
#content.page-content h2,
#content.page-content h3,
#content.page-content h4,
#content.page-content h5,
#content.page-content h6 {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--navy);
}
blockquote {
	background: var(--night);
	border-color: var(--mint);
	color: var(--mint);
	display: inline-block;
	padding: 20px 25px;
}
.btn {
	border-radius: 25px;
	padding: 5px 15px;
	color: #fff;
	border: 2px solid transparent;
}
.btn-primary {
	background: var(--night);
}
.btn-primary:hover {
	background: transparent;
	color: var(--night);
	border-color: var(--night);
}
.btn-default {
	background: var(--mint);
}
.btn-default:hover {
	background: transparent;
	color: var(--mint);
	border: 2px solid var(--mint);
}
.masonry:after {
	content: '';
	display: block;
	clear: both;
	overflow: hidden;
}
.masonry .item {
	color: #000;
	margin: 0;
	padding: 0;
}
.masonry {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.item.w2 {
	width: 120px;
}
.item.w3 {
	width: 180px;
}
.item.w4 {
	width: 240px;
}
.item.h2 {
	height: 100px;
	margin: 0;
}
.item.h3 {
	height: 130px;
	margin: 0;
}
.item.h4 {
	height: 180px;
	margin: 0;
}
button {
	font-size: 20px;
}
.item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	height: 300px;
	margin: 20px auto;
	overflow: hidden;
	position: relative;
}
.item span {
	bottom: 0;
	color: #fff;
	position: absolute;
	right: 0;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.item:hover .tag {
	opacity: 1;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.item .tag:before {
	content: "";
	border-bottom: 100px solid var(--cerulean);
	border-left: 100px solid transparent;
	bottom: 0;
	height: 0;
	opacity: .95;
	position: absolute;
	right: 0;
	text-indent: -9999px;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	width: 0;
}
.item:hover .tag:before {
	border-bottom: 800px solid var(--mint);
	border-left: 800px solid transparent;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.item .tag span {
	margin: 0 8px 8px 0;
	max-width: 80px;
	text-align: right;
}
.item .description {
	bottom: 0;
	color: var(--dark);
	left: 0;
	opacity: 0;
	padding: 30px;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.item .description h2 {
	border-bottom: 1px solid var(--dark);
	padding: 0 0 12px;
}
.item:hover .description {
	opacity: 1;
	-webkit-transition: all 0.3s ease-out 0.3s;
	transition: all 0.3s ease-out 0.3s;
}
.item:hover .tag span {
	opacity: 0;
}
.avatar {
	margin: 5px 8px 0 0;
	float: left;
}
.avatar-wrapper {
	min-height: 110px;
}
.border {
	border: 3px solid var(--mint);
	padding: 2px;
}
/* --- FOOTER --- */
footer {
	background: var(--night);
	width: 100%;
	clear: both;
	padding: 40px 0;
	color: #fff;
	letter-spacing :0.5px;
}
footer h2 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
}
footer a,footer a:focus {
	color: var(--mint);
	border-bottom: 1px dotted var(--mint);
}
footer a:hover {
	color: #fff;
	border-bottom: 1px solid var(--mint);
	text-decoration: none;
}
footer ul li {
	margin-bottom: 10px;
}
footer ul.links {
	list-style: none;
	padding: 0;
}
footer .row:nth-of-type(1) /* Using nth of type,just in case the footer has more than one row */ {
	border-top: 7px solid var(--mint);
	padding-top: 10px;
}
ul.affiliates li {
	display: inline-block;
	list-style: none;
	margin: 0 4px 4px;
}
ul.affiliates li a {
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	display: block;
}
ul.affiliates li a:hover {
	border-bottom: 3px solid var(--mint);
	border-top: 3px solid var(--mint);
}
ul.links {
	padding: 0;
	list-style: none;
	font-size: 16px;
}
ul.links li {
	padding-bottom: 2px;
	letter-spacing: 1px;
}
/* --- FORM ELEMENTS --- */
form {
	padding: 20px 0;
	position: relative;
	z-index: 2;
}
form input {
	appearance: none;
	outline: 0;
	border: 1px solid rgba(255,255,255,0.4);
	background-color: rgba(255,255,255,0.2);
	width: 250px;
	border-radius: 3px;
	padding: 10px 15px;
	margin: 0 auto 10px auto;
	display: block;
	text-align: center;
	font-size: 18px;
	color: white;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	font-weight: 300;
}
form input:hover {
	background-color: rgba(255,255,255,0.4);
}
form input:focus {
	background-color: white;
	width: 300px;
	color: var(--ocean);
}
form button {
	appearance: none;
	outline: 0;
	background-color: white;
	border: 0;
	padding: 10px 15px;
	color: var(--ocean);
	border-radius: 3px;
	width: 250px;
	cursor: pointer;
	font-size: 18px;
	-webkit-transition-duration: 0.25s;
	transition-duration :0.25s;
}
form button:hover {
	background-color: var(--light);
}
/* --- MEDIA QUERIES --- */	
@media screen and (max-width:599px) {
	.item .description {
		padding: 10%;
	}
}
@media screen and (max-width:767px) {
	.wrapper {
			top: 50px;
			height: 430px;
	}
	.navbar {
		position: absolute;
		width: 100%;
	}
	.navbar-brand {
		padding: 12px 0;
	}
	.wrapper-banner {
		background-size: auto 100%;
		background-position: 100% 0;
		/* You may want to remove this line if the focus of your header is on the left or center */
	}
	.navbar-toggle {
		margin-right: 0;
	}
	#content {
		margin-top: 50px;
	}
	.item .description {
		padding: 12% 5% 10% 20%;
	}
	.dropdown-menu>li>a {
		color: #fff;
	}
	.social {
		text-align: center;
	}
	.nav.social>li {
		display: inline-block;
	}
	.wrapper-container {
		display: none;
	}
}
@media screen and (min-width:768px) {
	.navbar-brand {
		padding: 17px 15px 17px 0;
	}
	.navbar-right.social {
		margin-right: 0;
	}
}
/* Pushes navigation & social buttons onto new line and centers logo,increase max-width value for longer navigations */
@media screen and (min-width:768px) and (max-width:900px) {
	.navbar-header {
		float: none;
	}
	.navbar-brand>img {
		margin: 0 auto;
	}
}
@media screen and (max-width:950px) {
	.wrapper-container {
			text-align: left;
			margin: 0 70px
	}
	.wrapper-banner {
		background-size: cover;
	}
}
@media screen and (min-width:990px) and (max-width:1215px) {
	.item img {
		height: 100%;
	}
}