<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Vizune Template: Kantoku</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700italic,700' rel='stylesheet' type='text/css'>
    <!-- For easier upgrading of Bootstrap in the future, don't touch the Bootstrap stylesheet, overwrite in style.css -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
                  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="images/logo.svg" alt="Vizune" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle button" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Site information</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Link exchange</a></li>
                        <li><a href="#">Credits &amp; resources</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle button" data-toggle="dropdown" role="button" aria-expanded="false">Designs <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">100 x 100 Icons</a></li>
                        <li><a href="#">Web Templates</a></li>
                        <li><a href="#">Web Headers</a></li>
                        <li><a href="#">Facebook Covers</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle button" data-toggle="dropdown" role="button" aria-expanded="false">Resources <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">PSDs</a></li>
                        <li><a href="#">Tutorials</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Image resources</li>
                        <li><a href="#">Renders</a></li>
                        <li><a href="#">Screenshots</a></li>
                    </ul>
                </li>
                <li><a href="./" class="button">Reviews</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right social">
                <li>
                    <a href="https://www.facebook.com/vizunedesigns" target="_blank" class="icon facebook" title="Facebook">
                        <span class="fa-stack fa">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/Vizune" target="_blank" class="icon twitter" title="Twitter">
                        <span class="fa-stack fa">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="http://vizune.deviantart.com/" target="_blank" class="icon deviantart" title="DeviantArt">
                        <span class="fa-stack fa">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-deviantart fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </nav>
    <div class="wrapper">
        <div class="wrapper-banner">
            <div class="wrapper-container">
                <div class="intro">
                    <p class="h1">
                        Welcome to Vizune
                    </p>
                    <p class="h2">
                        Embracing anime &amp; gaming through design
                    </p>
                </div>
            </div>
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div id="content" class="page-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 col-md-push-1">
					<!-- Centered grid-10 div -->
					<h1>This is a Heading 1 Tag</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
					<h2>This is a Heading 2 Tag</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
					<h3>This is a Heading 3 Tag</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
					<h4>This is a Heading 4 Tag</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
					<h5>This is a Heading 5 Tag</h5>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
					<h6>This is a Heading 6 Tag</h6>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
					<blockquote>
						<p>
							“This is a block quote. Use it to display quotes and testimonials from happy clients or to make any text really stand out!”
						</p>
					</blockquote>

                    <div class="avatar-wrapper">
                        <img src="images/avatar.jpg" alt="Avatar" class="border avatar" />
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consectetur sem nunc, non imperdiet risus blandit sit amet. Donec blandit lacus massa, non ornare neque ultricies ut. Pellentesque sed justo at erat tristique pretium vel et mauris. Pellentesque semper vestibulum libero, eget molestie lacus posuere a. Proin efficitur, velit ac venenatis feugiat, nibh erat dapibus metus, gravida vehicula ligula diam non dui. Quisque bibendum interdum dui, at dictum ligula semper vitae. Ut hendrerit leo at est rhoncus eleifend. Maecenas a lacus vel dolor pulvinar vehicula.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consectetur sem nunc, non imperdiet risus blandit sit amet. Donec blandit lacus massa, non ornare neque ultricies ut. Pellentesque sed justo at erat tristique pretium vel et mauris. Pellentesque semper vestibulum libero, eget molestie lacus posuere a. Proin efficitur, velit ac venenatis feugiat, nibh erat dapibus metus, gravida vehicula ligula diam non dui. Quisque bibendum interdum dui, at dictum ligula semper vitae. Ut hendrerit leo at est rhoncus eleifend. Maecenas a lacus vel dolor pulvinar vehicula.</p>
                        </div>
                    </div>
                    
					<h2>Buttons</h2>
					<a href="#" class="btn btn-primary">Primary button</a> <a href="#" class="btn btn-default">Default button</a>
				</div>
			</div>
		</div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Lorem ipsum</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis aliquam nunc. Praesent at congue turpis. Nam condimentum, augue ac luctus aliquet, tellus lectus lobortis dolor, id vestibulum orci urna efficitur libero. Nam eget ultrices lectus. Mauris tellus justo, posuere id justo feugiat, faucibus feugiat lectus
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Affiliates</h2>
                    <ul class="affiliates">
                        <li><a href="#" target="_blank"><img src="images/button.gif" alt="" /></a></li>
                        <li><a href="#" target="_blank"><img src="images/button.gif" alt="" /></a></li>
                        <li><a href="#" target="_blank"><img src="images/button.gif" alt="" /></a></li>
                        <li><a href="#" target="_blank"><img src="images/button.gif" alt="" /></a></li>
                        <li><a href="#" target="_blank"><img src="images/button.gif" alt="" /></a></li>
                        <li><a href="#" target="_blank"><img src="images/button.gif" alt="" /></a></li>
                        <li><a href="#" target="_blank"><img src="images/button.gif" alt="" /></a></li>
                        <li><a href="#" target="_blank"><img src="images/button.gif" alt="" /></a></li>
                        <li><a href="#" target="_blank"><img src="images/button.gif" alt="" /></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2>Credits</h2>
                    <ul class="links">
                        <li><a href="http://vizune.com" target="_blank">Web template by Vizune</a></li>
                        <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
                        <li><a href="https://www.google.com/fonts" target="_blank">Google fonts</a></li>
                        <li><a href="http://masonry.desandro.com/" target="_blank">Masonry JS library</a></li>
                        <li><a href="http://imagesloaded.desandro.com/" target="_blank">ImagesLoaded JS library</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/masonry.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script>
        /* Welcome message animation */
        $(document).ready(function() {
            $('.wrapper').removeClass('success');
            $('.wrapper').delay(500).queue(function(){
                $(this).addClass('success').clearQueue();
            });
        });
        /* Masonry */
        imagesLoaded( document.querySelector('.masonry'), function( instance ) {
            console.log('all images are loaded');
        });
        var container = document.querySelector('.masonry');
        imagesLoaded( container, function() {
            msnry = new Masonry( container );
        });
        var msnry = new Masonry( container, {
            columnWidth: 0
        });
    </script>
</body>
</html>