/* CSS VARIABLES */
:root {
  --purple: #6227c2;
  --lilac: #AEA8D3;
  --grey: #999;
  --dark: #222;
  --light: #ccc;
}

body, html {
	height: 100%;
}
body {
    font-family: 'Century Gothic',CenturyGothic,AppleGothic,sans-serif; 
    font-size: 16px;
    line-height: 24px;
    color: #3D4351;
}
a, a:hover, a:focus {
    color: var(--purple);
}
#wrapper {
    min-height: 100%;
    padding: 0;
}
/* NAVIGATION */
.navbar {
  background: var(--dark);
  margin: 0;
  border-radius: 0;
	border: 0;
	text-align: center;
}
.navbar-brand {
	color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}
.navbar-brand:hover {
    color: var(--lilac);
}
.logo {
	background:url('../img/logo.png') 70% 50% no-repeat;
	text-indent:-99999px;
	display:block;
	width:210px; /* Update this value to the width of your logo */
  height:50px;
	padding:0;
  margin-left: 10px;
}
/* Remove this CSS if you don't want center aligned navigation links */
.navbar-nav {
	float: none;
}

.navbar-nav>li {
	float: none;
	display: block;
}
/* End of center aligned navigation links */
.nav>li>a {
    color: #fff;
    text-transform: uppercase;
    border-top: 3px solid transparent;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
}
.nav>li>a:focus, .nav>li>a:hover {
    background: none;
    border-top: 3px solid var(--lilac);
    text-decoration: none;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background: transparent;
    color: var(--lilac);
    border-top: 3px solid var(--lilac);
}

.nav>li>a:focus:before, .nav>li>a:hover:before {
    content: "\f0d7";
    font-family: FontAwesome;
    height: 5px;
    width: 10px;
    position: absolute;
    top: -8px;
    left: 50%;
    color: var(--lilac);
    margin-left: -5px;
    font-size: 18px;
}

.navbar-collapse {
    border-top: 1px solid #292929;
    box-shadow: none;
}

.dropdown-menu {
    background: #191919;
    border-radius: 0;
}
.dropdown-menu>li>a {
    color: #fff;
    border-left: 5px solid transparent;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background: var(--lilac);
    color: var(--dark);
}
.dropdown-menu .divider {
    background: var(--light);
}
.dropdown-header {
    color: var(--light);
}
/* Colour of hamburger icon */
.navbar-toggle .icon-bar {
    background: var(--lilac);
}

.topnav {padding-right: 10px;}

ul.social {
    margin: 10px 0;
    padding: 0;
}

ul.social li {
	display: inline-block;
}

.social li a {
	padding: 8px 4px;
}

.social li a.facebook {
	color: #3b5998;
}

.social li a.twitter {
	color: #55acee;
}

.social li a.deviantart {
	color: #05cc47;
}

.social li a.tumblr {
	color: #35465c;
}

.social li a.pinterest {
	color: #cc2127;
}

.social li a:hover {color: var(--lilac);}
.social li a:hover .fa-inverse {color: var(--dark);}


/* JUMBOTRON (HEADER) */
.jumbotron {
  background: url('../img/header.jpg') 50% 50% no-repeat;
	background-size: cover;
  height: 650px; /* Adjust this value to the height of your header image */
  margin: 100px 0 0;
	padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LETTER ANIMATIONS */
.letter-container {
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.letter-container a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.letter-container div + div {
  margin-left: 3rem;
}
.letter-container span + span {
  margin-left: .75rem;
}
.letter-container span {
  text-align: center;
  display: block;
  line-height: 100px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  opacity: 1;
  cursor: pointer;
  text-shadow: 0px 0px 10px #fff, 1px 1px 4px rgba(0,0,0,0.7);
  transition: all 0.3s linear;
  -webkit-animation: sharpen 0.9s linear backwards;
  animation: sharpen 0.9s linear backwards;
}
.letter-container span:hover{
  text-shadow: 0px 0px 40px #fff;
}
.letter-container p a span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.letter-container p a span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.letter-container p a span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.letter-container p a span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.letter-container p a span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.letter-container p a span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.letter-container p a span:nth-child(8) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.letter-container p a span:nth-child(9) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.letter-container p a span:nth-child(10) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.letter-container p a span:nth-child(11) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.letter-container p a span:nth-child(12) {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.letter-container p a span:nth-child(13) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.letter-container p a span:nth-child(14) {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
.letter-container p a span:nth-child(15) {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.letter-container p a span:nth-child(16) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.letter-container p a span:nth-child(17) {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.letter-container p a span:nth-child(17) {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.letter-container p a span:nth-child(18) {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s;
}
.letter-container p a span:nth-child(19) {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.letter-container p a span:nth-child(20) {
  -webkit-animation-delay: 1.9s;
  animation-delay: 1.9s;
}
.letter-container p a span:nth-child(21) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.letter-container p a span:nth-child(22) {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.letter-container p a span:nth-child(23) {
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}
.letter-container p a span:nth-child(24) {
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s;
}
.letter-container p a span:nth-child(25) {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}
.letter-container p a span:nth-child(26) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.letter-container p a span:nth-child(27) {
  -webkit-animation-delay: 2.6s;
  animation-delay: 2.6s;
}
.letter-container p a span:nth-child(28) {
  -webkit-animation-delay: 2.7s;
  animation-delay: 2.7s;
}
.letter-container p a span:nth-child(29) {
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}
.letter-container p a span:nth-child(30) {
  -webkit-animation-delay: 2.9s;
  animation-delay: 2.9s;
}
.letter-container p a span:nth-child(31) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.letter-container p a span:nth-child(32) {
  -webkit-animation-delay: 3.1s;
  -moz-animation-delay: 3.1s;
  -ms-animation-delay: 3.1s;
  animation-delay: 3.1s;
}
.letter-container p a span:nth-child(33) {
  -webkit-animation-delay: 3.2s;
  -moz-animation-delay: 3.2s;
  -ms-animation-delay: 3.2s;
  animation-delay: 3.2s;
}
@-webkit-keyframes sharpen {
 0% {
     opacity: 0;
     text-shadow: 0px 0px 100px #fff;
     color: transparent;
 }
 90% {
     opacity: 0.9;
     text-shadow: 0px 0px 10px #fff;
     color: transparent;
 }
 100% {
    color: #fff;
     opacity: 1;
     text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@keyframes sharpen {
 0% {
     opacity: 0;
     text-shadow: 0px 0px 100px #fff;
     color: transparent;
 }
 90% {
     opacity: 0.9;
     text-shadow: 0px 0px 10px #fff;
     color: transparent;
 }
 100% {
    color: #fff;
     opacity: 1;
     text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
      
/* CONTENT */
#content {
    padding: 40px 0 50px;
}
h1, h2 , h3, h4, h5 {
    text-transform: uppercase;
    color: #333;
    font-weight: normal;
}
h1 {
    font-size: 45px;
	margin-bottom: 30px;
    text-align: center;
    padding-bottom: 10px;
}
h4 {
	margin: 15px 0 5px;
}
.avatar {
	margin: 0 6px 4px 0;
  border: 3px solid var(--lilac);
	padding: 2px;
  float: left;
}
/* FOOTER */
footer {
	background:#191919;
	width: 100%;
	color: var(--grey);
  font-size: 14px;
  padding: 25px 0;
}

footer .widget {
    border-left: 4px solid var(--light);
    min-height: 100%;
    margin: 0 15px 40px;
}

footer h2 {
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 20px;
    padding: 0;
    font-size: 24px;
    text-align: center;
}
footer ul li {
    margin-bottom: 10px;
}
footer ul.links {
    list-style: none;
    padding: 0;
}
footer ul.links li {
    margin-bottom: 20px;
}
footer ul.links li a {
    text-transform: uppercase;
    color: var(--grey);
    border-bottom: 1px dotted var(--grey);
    letter-spacing: 1px;
    padding-bottom: 5px;
}
footer ul.links li a:hover {
    text-decoration: none;
    color: var(--lilac);
    border-bottom: 1px solid var(--lilac);
}
.buttons {
    padding: 0;
    text-align: center;
}
.buttons li {
	display: inline-block;
	list-style: none;
	border: 2px solid transparent;
}
.buttons li:hover {
	border: 2px solid var(--lilac);
}
/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .logo {margin-left: 0;}
  .nav>li>a {text-align: left;}
  .navbar-nav>li {display: inline-block;}
  .letter-container { transform: translateY(6rem); }
  .letter-container span {font-size: 68px;}
  .widget { margin: 0; }
}
@media all and (max-width: 800px){
  .letter-container span {font-size: 55px;}
}
  
@media all and (max-width: 650px){
    .letter-container span {font-size: 45px;}
    .letter-container {top: 20%;}
}