/* CSS VARIABLES */
:root {
	--yellow: #f8bc16;
	--green: #36ba7a;
	--orange: #f15a29;
	--light: #c6c5c5;
	--grey: #333;
	--dark: #231f20;
	--white: #ffffff;
}
/* UNIVERSAL */
html {
	font-size: 100%;
}
body {
	color: var(--dark);
	font-family: 'Questrial', sans-serif;
	font-size: 16px;
	font-weight: 300;
}
a {
	color: var(--white);
	text-decoration: none;
}
a:hover,a:focus {
	color: var(--white);
	text-decoration: underline;
}
h1,h2,h3,h4,h5 {
	margin-top: 0;
	text-transform: uppercase;
}
h3 {
	font-size: 1.125rem;
}
.lg-icon {
	color: var(--white);
	font-size: 4rem;
	text-align: center;
}
.avatar {
	margin: 6px 8px 0 0;
	float: left;
}
.avatar-wrapper {
    min-height: 110px;
}
.border {
	border: 3px solid var(--dark);
	padding: 2px;
}
/* NAVIGATION */
.navbar {
	background: var(--white);
	margin-bottom: 0;
	border-radius: 0;
}
.navbar-brand {
	color: var(--green);
	font-size: 1.875rem;
	margin-left: 1.25rem;
}
.navbar-brand:hover {
	color: var(--orange);
}
.navbar-brand.logo {
	background: url('../images/logo.png') 50% 50% no-repeat;
	text-indent: -99999px;
	display: block;
	width: 210px;/* Update this value to the width of your logo */
	height: 50px;
	padding: 0;
}
.nav>li>a {
	color: var(--orange);
	font-weight: bold;
	letter-spacing: 2px;
}
.nav>li>a:focus,.nav>li>a:hover {
	background: none;
	color: var(--green);
}
.navbar-toggle .icon-bar {
	background: var(--green);
	height: 3px;
	width: 30px;
}
/* JUMBOTRON */
.jumbotron {
	padding: 3.125rem 0 0 0;
	background: var(--green) url('../images/bg.png');
	margin: 0;
}
.jumbotron p {
	font-size: 1.125rem;
}
.jumbotron .header {
	display: inline-block;
}
.jumbotron .header img {
	width: 100%;
}
.jumbotron .container {
	overflow: hidden;
}
/* CAROUSEL */
.carousel,.carousel-inner {
	height: 18.75rem;
}
.carousel-control,.carousel-control:focus {
	width: 10%;
	text-shadow: none;
	opacity: 1;
	color: var(--yellow);
	top: 45%;
}
.carousel-control.left,.carousel-control.right {
	background: none;
}
.carousel-caption {
	z-index: 10;
}
.carousel .item {
	padding: 10% 15%;
}
.carousel-inner>.item>img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 100%;
	max-height: 576px;
}
.carousel-control:hover {
	color: var(--grey);
}
/* FORM ELEMENTS */
input[type=text],input[type=email] {
	width: 100%;
	border-radius: 20px;
	border: none;
	padding: 8px 20px;
	height: 40px;
	margin: 30px 0 20px 0;
	color: var(--dark);
	font-size: 1.125rem;
	max-width: 475px;
	display: block;
	outline: none;
}
.btn-primary {
	border-radius: 25px;
	padding: 10px 45px;
	margin-bottom: 40px;
	text-transform: uppercase;
	font-weight: bold;
	outline: none;
	background: var(--yellow);
	color: var(--grey);
	border:2px solid var(--yellow);
}
.btn-primary:hover,.btn-primary:focus {
	background: transparent;
	border: 2px solid var(--yellow);
	color: var(--yellow);
}
::placeholder, ::-webkit-input-placeholder, :-ms-input-placeholder {
	font-size: 1.125rem;
	color: var(--light);
}
/* SECTIONS */
#intro {
	background: var(--yellow);
	padding: 1.875rem 0;
	color: var(--dark);
}
#posts {
	background: var(--orange);
	color: var(--white);
	padding: 3.125rem 0 1.25rem;
}
#posts h2,#contact h2 {
	margin-bottom: 3.125rem;
}
.post {
	margin-bottom: 3.125rem;
}
.readmore {
	border:2px solid #fff;
	border-radius: 20px;
	color: var(--white);
	padding: 7px 20px;
	font-weight: bold;
	letter-spacing: 1px;
	display: inline-block;
	margin-top: 10px;
}
.readmore:hover,.readmore:focus {
	background: var(--white);
	color: var(--orange);
	text-decoration: none;
}
#contact {
	background: var(--green) url('../images/bg.png');
	color: var(--white);
	padding: 3.125rem 0;
}
#social {
	background: var(--white);
	padding: 3.125rem 0;
}
/* SOCIAL ICONS */
.socialIcons {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
.socialIcons a:hover,.socialIcons a:focus {
	color: var(--green);
	text-decoration: none;
}
.facebook {
	color: #3b5998;
}
.twitter {
	color: #55acee;
}
.tumblr {
	color: #35465c;
}
.deviantart {
	color: #05cc47;
}
.behance {
	color: #1769ff;
}
.pinterest {
	color: #cc2127;
}
.linkedin {
	color: #0976b4;
}
.instagram {
	color: #3f729b;
}
.dribbble {
	color: #ea4c89;
}
/* FOOTER */
footer {
	padding: 1.25rem 0;
	text-align: center;
}
footer a {
	color: var(--orange);
	padding-right: 1.5rem;
}
footer a:hover, footer a:focus {
	color: var(--grey);
}
.copyright {
	text-align: center;
	font-size: 0.875rem;
	margin: 0;
}
/* MEDIA QUERIES */
@media screen and (min-width:768px) {
	.navbar-brand {
		margin-left: 0;
	}
	.carousel,.carousel-inner {
		height: 18.75rem;
	}
	.socialIcons {
		width: 85%;
	}
	footer {
		text-align: left;
	}
	.copyright {
		text-align: right;
	}
	/* ANIMATION SEQUENCES */
	@-webkit-keyframes keyframes1 {
		0% {
			transform: rotate(-1deg);
			animation-timing-function: ease-in;
		}
		50% {
			transform: rotate(1.5deg);
			animation-timing-function: ease-out;
		}
	}
	@keyframes keyframes1 {
		0% {
			transform: rotate(-1deg);
			animation-timing-function: ease-in;
		}
		50% {
			transform: rotate(1.5deg);
			animation-timing-function: ease-out;
		}
	}
	@-webkit-keyframes keyframes2 {
		0% {
			transform: rotate(1deg);
			animation-timing-function: ease-in;
		}
		50% {
			transform: rotate(-1.5deg);
			animation-timing-function: ease-out;
		}
	}
	@keyframes keyframes2 {
		0% {
			transform: rotate(1deg);
			animation-timing-function: ease-in;
		}
		50% {
			transform: rotate(-1.5deg);
			animation-timing-function: ease-out;
		}
	}
	.socialIcons .fa-stack:nth-child(2n) {
		-webkit-animation: keyframes1 infinite;
		animation: keyframes1 infinite;
		-ms-transform-origin: 50% 10%;
		-webkit-transform-origin: 50% 10%;
		transform-origin: 50% 10%;
	}
	.socialIcons .fa-stack:nth-child(2n-1) {
		-webkit-animation: keyframes2 alternate infinite;
		animation: keyframes2 alternate infinite;
		-ms-transform-origin: 30% 5%;
		-webkit-transform-origin: 30% 5%;
		transform-origin: 30% 5%;
	}
}
@media screen and (min-width:1200px) {
	#social {
		padding-top: 0;
	}
	/* SOCIAL ICONS - "STRING" */
	.socialIcons .icon {
		float: left;
	}
	.socialIcons .icon:before {
		content: "";
		text-align: center;
		width: 3px;
		display: inline-block;
		background: var(--grey);
		position: relative;
		left: 53px;
		min-height: 100px;
	}
		.socialIcons .icon:nth-child(2):before {
		height: 150px;
	}
		.socialIcons .icon:nth-child(3):before {
		height: 200px;
	}
		.socialIcons .icon:nth-child(4):before {
		height: 145px;
	}
		.socialIcons .icon:nth-child(5):before {
		height: 175px;
	}
		.socialIcons .icon:nth-child(6):before {
		height: 220px;
	}
		.socialIcons .icon:nth-child(7):before {
		height: 150px;
	}
		.socialIcons .icon:nth-child(8):before {
		height: 190px;
	}
		.socialIcons .icon:nth-child(9):before {
		height: 120px;
	}
}
