---
import NavigationLink from "./NavigationLink.astro";

const nav = [
  { page: "Home",       link: "/" },
  { page: "About",      link: "/about" },
  { page: "Avatars",    link: "/avatars" },
  { page: "Renders",    link: "/renders" },
  { page: "PSD downloads", link: "/renders" },
  { page: "Templates",  link: "/templates" },
  { page: "Tutorials",  link: "/tutorials" },
];
---
<div class="z-0 w-full bg-[#020007] -mt-20 md:border-[#24047099] md:border-b-2 flex flex-col md:flex-row items-center justify-center text-center">
  {nav.map((item) => (
    <NavigationLink page={item.page} link={item.link} />
  ))}
</div>
