---

import Layout from '@/layouts/Layout.astro';
import { Button } from '@/components';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Welcome to Vizune Design - The Dusken Glow" description="Vizune is a creative hub where anime, gaming, design, and web development merge — explore tutorials, visuals, and resources to fuel your imagination." heading="Welcome to Vizune Designs">
	<p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec lobortis ipsum, ac rhoncus ante. Nullam auctor mi sit amet enim lacinia viverra. Etiam fringilla sapien ut vehicula molestie. Ut feugiat enim velit, vitae mattis diam tincidunt id. Quisque et enim ut magna venenatis aliquet. Vestibulum nec nisl nisi. Praesent feugiat nibh vitae luctus rhoncus. Cras placerat sed sapien et accumsan. Donec maximus lacinia magna, eget luctus purus hendrerit ut. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisis urna leo, eu facilisis ligula ultrices a. Fusce finibus accumsan sagittis. Mauris non elit dolor. Donec ultricies placerat urna, vestibulum dignissim orci lobortis ac.
    </p>
    <div class="flex justify-end">
		<Button>Find out more</Button>
	</div>
</Layout>
