---
const { page, link } = Astro.props;
---

<div class="z-20 block w-full md:w-auto">
  <a
    href={link}
    class="relative block w-full p-4 md:p-5
           text-[#646cff] hover:text-white
           border-b-2 md:border-b-0 border-[#240470]
           transform-gpu transition-colors duration-[400ms] ease-in-out
           before:content-[''] before:absolute before:inset-0 before:-z-10
           before:bg-[#24047099] before:opacity-0
           before:transform before:origin-top before:scale-y-0
           before:[transition:opacity_.15s_ease,transform_.3s_ease-out]
           hover:before:opacity-100 hover:before:scale-y-100"
  >
    <span class="text-lg uppercase font-medium tracking-widest">{page}</span>
  </a>
</div>
