@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --carmine: #cb1140;
    --white: #f2f2f2;
    --charcoal: #030309;
    --midnight: #020006;
    --purple: #281DF7;
    --ocean: #90c2f5;
    line-height: 1.5;
    font-weight: 400;

    background: var(--charcoal);
    font-family: "Montserrat", sans-serif;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.Content a:not(.button) {
    color: var(--carmine);
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

p {
    margin-bottom: 1.25rem;
}

hr {
    background: url('/divider.png') no-repeat center center;
    height: 100px;
    width: 111px;
    border: none;
    margin: 0 auto 1.25rem;
}

h2 {
    font-size: 1.75rem;
    line-height: 2rem;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 1rem;
    font-weight: 200;

    @media (min-width: 768px) {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}

h3 {
    color: var(--purple);
    font-size: 1.15rem;
    line-height: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 1rem;
    font-weight: 700;
}

blockquote {
    border-left: 4px solid var(--charcoal);
    background: url('/blockquote.gif') no-repeat 5px top;
    background-size: 90px 110px;
    padding-left: 110px;
    min-height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    p {
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }
}

button, .button {
    background-color: var(--ocean);
    border: 2px solid var(--midnight);
    color: var(--midnight);
    padding: .5rem 1rem;
    transition: all .25s ease;

    svg.icon, svg.icon {
        fill: var(--midnight);
    }

    &:hover {
        color: var(--ocean);
        background-color: var(--midnight);

        svg.icon, svg.icon {
            fill: var(--ocean);
        }
    }

    &.active {
        color: var(--midnight);
        background-color: var(--white);
    }
}

select {
    appearance: none;
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M3,111.67,247.67,418.4c4,5.06,12.6,5.06,16.65,0L509,111.64a15.21,15.21,0,0,0,2.2-13.9,14.2,14.2,0,0,0-1-2.32,10.66,10.66,0,0,0-9.39-5.62H11.14a10.64,10.64,0,0,0-9.38,5.62,13.93,13.93,0,0,0-1,2.27A15.26,15.26,0,0,0,3,111.67Z'/%3E%3C/svg%3E") 95% center no-repeat;
    background-size: 1rem 1rem;
    border: 2px solid var(--carmine);
    border-radius: 0;
}

svg.icon {
    height: 1.6rem;
    width: 1.5rem;

    &-lg {
        height: 2rem;
        width: 2rem;
    }
}

ul {
    width: 100%;
    list-style: disclosure-closed;
    padding-left: 1.5rem;
}

ol {
    counter-reset: point;

    & > li {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.5rem;

        &:before {
            counter-increment: point;
            content: counter(point)".) ";
            font-weight: bold;
            color: var(--purple);
            font-size: 1.5rem;
        }
    }
}

pre {
    line-height: 24px;
    background-image: linear-gradient(180deg, #eee 50%, #fff 50%);
    background-size: 100% 48px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow-x: auto;
 }

.ContentfulPost {
    p {
        width: 100%;
    }
      
      
    h2 {
        width: 100%;
    }
}