/* CSS VARIABLES */
:root {
    --navy: #040240;
    --yale: #2e458e;
    --cerulean: #007bb4;
    --cyan: #0ea8ef;
    --dark: #212121;
    --medium: #999;
    --light: #ccc;
}
body, html {
	height: 100%;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--dark);
}
a, a:hover, a:focus {
    color: var(--cerulean);
}
#wrapper {
    min-height: 100%;
    padding: 0;
}
/* NAVIGATION */
.navbar {
    background: var(--navy);
    margin: 0;
    border-radius: 0;
	border: 0;
	text-align: center;
}
.navbar-brand {
	color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}
.navbar-brand:hover {
    color: var(--cerulean);
}
.logo {
	background: url('../img/logo.png') 70% 50% no-repeat;
	text-indent: -99999px;
	display: block;
	width: 210px; /* Update this value to the width of your logo */
    height: 50px;
	padding: 0;
    margin-left: 10px;
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translateX(-50%);
}
/* Remove this CSS if you don't want center aligned navigation links */
.navbar-nav {
	float: none;
    text-align: left;
}
.navbar-nav>li {
	float: none;
	display: block;
}
/* End of center aligned navigation links */
.nav>li>a {
    color: #fff;
    text-transform: uppercase;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
}
.nav>li>a:focus, .nav>li>a:hover {
    background: none;
    border-top: 3px solid var(--cyan);
    border-bottom: 3px solid var(--cyan);
    color: var(--cyan);
    text-decoration: none;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background: transparent;
    color: var(--cyan);
    border-top: 3px solid var(--cyan);
    border-bottom: 3px solid var(--cyan);
}
.dropdown-menu {
    background: var(--navy);
    border-radius: 0;
}
.dropdown-menu>li>a {
    color: #fff;
    border-left: 5px solid transparent;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background: var(--cerulean);
	color: #fff;
}
.dropdown-menu .divider {
    background: var(--light);
}
.dropdown-header {
    color: var(--light);
}
/* Colour of hamburger icon */
.navbar-toggle .icon-bar {
    background: var(--cyan);
}
/* JUMBOTRON (HEADER) */
.jumbotron {
    background: url('../img/header.jpg') 70% 50% no-repeat;
	background-size: cover;
    height: 450px; /* Adjust this value to the height of your header image */
    margin: 0;
	padding: 40px 0;
}
/* CONTENT */
#content {
    padding: 40px 0 50px;
}
h1, h2 , h3, h4, h5 {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    color: var(--yale);
}
h1 {
	margin-bottom: 30px;
    border-bottom: 2px solid #ddd;
    text-align: left;
    padding-bottom: 10px;
}
h4 {
	margin: 15px 0 5px;
}
.avatar-wrapper {
    min-height: 110px;
}
.avatar {
	margin: 5px 8px 0 0;
    border: 3px solid var(--navy);
	padding: 2px;
    float: left;
}
/* FOOTER */
footer {
	background: var(--dark);
	width: 100%;
	color: var(--light);
    font-size: 14px;
    padding: 40px 0;
    border-bottom: 15px solid var(--yale);
}
footer .widget + .widget {
    margin-top: 40px;
}
footer h2 {
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 25px;
    background: var(--yale);
    padding: 2px 5px;
    font-size: 24px;
    border: none;
}
footer ul li {
    margin-bottom: 10px;
}
footer ul.links {
    list-style: none;
    padding: 0;
}
footer ul.links li {
    margin-bottom: 20px;
}
footer ul.links li a {
    text-transform: uppercase;
    color: var(--light);
    border-bottom: 1px dotted var(--light);
    letter-spacing: 1px;
    padding-bottom: 5px;
}
footer ul.links li a:hover {
    text-decoration: none;
    color: var(--cyan);
    border-bottom: 1px solid var(--cyan);
}
.buttons {
    padding: 0;
    text-align: center;
}
.buttons li {
	display: inline-block;
	list-style: none;
	border: 2px solid transparent;
}
.buttons li:hover {
	border: 2px solid var(--cerulean);
}
/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    .logo {
        margin-left: 0;
        position: static;
        top: unset;
        left: unset;
        transform: none;
    }
    .jumbotron {
        background-position: 50% 50%;
    }
    .navbar-nav {
        text-align: center;
    }
    .navbar-nav>li {
        display: inline-block;
    }
    h1 {
        text-align: center;
    }
    footer .widget + .widget {
        margin-top: 0;
    }
}