@import "tailwindcss";

/* 
  Colour name generator for funsies: 
  https://colornamer.robertcooper.me/

  Hex to oklch converter:
  https://openreplay.com/tools/hex-to-oklch/ 
*/
@theme {
  --color-hynacinth: oklch(54.75% 0.192 287.43); /* #6f55d8  */
  --color-lavender: oklch(60.70% 0.215 275.60); /* #646cff */
  --color-indigo: oklch(27.37% 0.158 282.00); /* #240470 */
  --color-orchid: oklch(61.06% 0.227 289.34); /* #865eff */
  --color-raven: oklch(7.08% 0.038 299.60); /* #020007 */
  --color-clay: oklch(95.45% 0.024 296.12); /* #f1edff */
}

:root {
  font-family: 'Dosis', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #e0e0f2;
  background-color: #03050f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "Dosis";
  src: url("/fonts/Dosis-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  position: relative;
  white-space: no-wrap;
  text-align: center;
}


@media(min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p { 
  margin-bottom: 1rem;
}
